---
import Picture from '@ui/Picture.astro';
import '../_styles/historical-market-statistics-section.css';

interface HistoricalMarketStatisticsSectionContent {
  id: string;
  title: string;
  image: {
    src: string;
    alt: string;
  };
  body: string;
}

const { id, title, image, body } =
  Astro.props as HistoricalMarketStatisticsSectionContent;
---

<section
  id={id}
  class="historical-market-statistics container-95 section-stack"
  aria-label={title}
>
  <h2 class="historical-market-statistics__title text-gold">{title}</h2>
  <Picture
    src={image.src}
    alt={image.alt}
    class="historical-market-statistics__image"
    imgClass="historical-market-statistics__image-tag"
    aspectRatio="835 / 366"
    fit="contain"
  />
  <p class="historical-market-statistics__body text-white">{body}</p>
</section>
